.Presentation{ 
    width: 100%;
    height: 400px;
    position: relative;
    top: 30px;

    .Presentation__text{
        width: 52%;
        position: absolute;
        margin: 0;
        text-align: left;

        h1 {
            font-size: 55px;
            font-weight: 300;
        }
        
        .Presentation__socialMedia {
            display: flex;

            a {
                text-decoration: none;
                color: black;

                &:nth-child(2),
                &:nth-child(3){
                    margin-left: 30px;
                }
            }
        }
    }

    img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .Presentation{
        height: 240px;

        .Presentation__text{
            width: 72%;
            h1{
                font-size: 22px;
                font-weight: 700;
            }
        }

        img {
            width: 186px;
            height: 186px;
            top: 0;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .Presentation{
        height: 400px;

        .Presentation__text{
            width: 52%;
            h1 {
                font-size: 55px;
                font-weight: 300;
            }
        }

        img {
            width: 300px;
            height: 300px;
            top: 40px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Presentation{
        width: 100%;
        display: flex;
        flex-direction: column;

        .Presentation__text{
            width: 100%;
            h1 {
                font-size: 22px;
                font-weight: 700;
            }

            p, a {
                font-size: 14px;
            }

            a {
                font-weight: 600;
            }

            margin-top: 140px;

        }

        img {
            width: 98px;
            height: 98px;
            top: 40px;
            left: 0;
        }
    }
}  